<!doctype html>
<html>
    
<head>
    <title>Not a Black Market</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div class="form-container">
        <p class="form-header">Definitely not the entrance</p>
        <form method="POST" action="/login">
            <label>Codename:</label>
            <input type="text" id="username" name="username"><br>
            <label>Passphrase:</label>
            <input type="password" id="password" name="password"><br>
            <input type="submit" id="login" value="Knock Knock">
        </form>
    </div>
    <a id="signUpLink" href="/signup">Don't Click This</a>
    <hr>
    <span id="loginMsg">
    <%= msg %>
    </span>
</body>
        
</html>
